<h1>El número de contacto es: 31290876556</h1>

<a href="https://facebook.com" target="_blank">Página de Facebook</a>

<%= link_to "Página Facebook", "https://facebook.com", target: "_blank", class: "color-link" %>
